.listing-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .list-container{
        width: calc(100% - 292px);
        height: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
        .scrollable-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 32px;
            flex-wrap: wrap;
            overflow: scroll;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer 10+ */
  
            &::-webkit-scrollbar {
                display: none; /* WebKit */
            }

            .profile-card {
                width: 280px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
                border-radius: 28px;
                border: 1px solid rgba(2, 28, 46, 0.1);
                box-shadow: 0px 16px 16px rgba(11, 109, 173, 0.1);
                padding: 12px 0px;

                .card-header {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .card-header-content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        flex-grow: 1;
                        padding: 0px 12px;
                        gap: 16px;

                        .avatar {
                            width: 60px;
                            height: 60px;
                            border-radius: 16px;
                            background-color: #0a7ad5;
                            color: #FFF;
                            font-weight: 700;
                            font-size: 24px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        }

                        .typography {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-grow: 1;
                            gap: 8px;

                            h4{
                                padding: 0;
                                margin: 0;
                                color: #0a7ad5;
                                font-size: 16px;
                                font-weight: 600;
                            }
                            h6{
                                padding: 0;
                                margin: 0;
                                color: #1e3141;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }

                        
                    }
                }
                .card-counter {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .counter-padded {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex-grow: 1;
                        padding: 0px 12px;

                        .counter-component {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: 0;

                            button.minus {
                                background-color: #98a8b9;
                                color: #fff;
                                border: none;
                                border-radius: 4px;
                                padding: 10px 20px;
                                font-size: 16px;
                                cursor: pointer;
                                transition: background-color 0.3s;
                            }
                            button.plus {
                                background-color: #ff0000;
                                color: #fff;
                                border: none;
                                border-radius: 4px;
                                padding: 10px 20px;
                                font-size: 16px;
                                cursor: pointer;
                                transition: background-color 0.3s;
                            }
                            .likes-container {
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                flex-grow: 1;
                                border-radius: 0px;

                                h3{
                                    padding: 0;
                                    margin: 0;
                                    color: #1e07eb;
                                    font-size: 20px;
                                    font-weight: 800;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .control-panel {
        width: 280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;

        .create-user-section {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .create-user-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                padding: 0px 24px;

                .create-user-card {
                    height: 360px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 12px;
                    border-radius: 24px;
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

                    form{
                        
                        height: calc(100% - 36px);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 16px;
                        flex-grow: 1;
                        padding: 0px 24px;

                        .form-wrapper {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 8px;

                            input[type="text"] {
                                border: none;
                                border-bottom: 2px solid transparent; // Initially transparent underline
                                height: 36px;
                                width: 100%;
                                padding: 8px 12px;
                                font-size: 16px;
                                transition: border-bottom-color 0.3s; // Smooth transition for underline color change

                                &:hover {
                                    border-bottom-color: #888; // Change underline color on hover
                                }

                                &:focus {
                                    outline: none; // Remove default focus outline
                                    border-bottom-color: #007bff; // Change underline color on focus
                                }
                            }
                        }

                        .submit-button {
                            /* Styles for submit button */
                            background-color: #007bff;
                            color: #fff;
                            width: 100%;
                            height: 56px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            border-radius: 12px;
                            padding: 10px 20px;
                            font-size: 16px;
                            cursor: pointer;
                            transition: background-color 0.3s;
                          
                            &:hover {
                              background-color: #0056b3;
                            }
                          
                            &:active {
                              background-color: #003d80;
                            }
                          
                            &:disabled {
                              background-color: #ddd;
                              color: #888;
                              cursor: not-allowed;
                            }
                        }
                    }
                }
            }

        }
    }
}